<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="title"><%= post.title %></div>
      <div class="body"><%= post.body %></div>
      <div class="author">Author: <%= user_signed_in? ? User.find_by_id(post.user_id).username : "Hidden" %></div>
      <div class="timestamp"><%= post.created_at.strftime("%Y-%m-%d - %H:%M") %></div>
    </div>
  <% end %>
</div>
<br>
<%= link_to "New post", new_post_path, class:"link-to" %>
