<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= post.title %>
    <br>
    <%= post.body %>
    <br>
    <%= user_signed_in? ? User.find_by_id(post.user_id).username : "Hidden" %>
    <br>
  
  <% end %>
</div>
<br>
<%= link_to "New post", new_post_path %>
